@model AM.Data.ArticleModel

@{
    ViewData["Title"] = "Article";
}
@*for testing add style here*@

<link href="~/css/blog-post.css" rel="stylesheet" />
<style>
    td.article-grid {
        float: left;
        background: #d9d6d6;
        width: 29%;
        margin: 1%;
        height: 127px;
    }

    .article-table tr {
        float: left;
        display: contents;
    }
</style>
@if (Model.Id > 0)
{
    // post/blog view of article
    <partial name="_BlogPostView.cshtml" />
}
else
{
    // listing or grid view of Articles
    <table class="article-table table" id="articleDT">
        <thead>
            <tr>
                <th>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    @section Scripts {
    <script src="~/js/article.js"></script>
    }
}





