<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="trace"
      internalLogFile="C:\Window\Hardware Task\ArticleManagement\ArticleManagement\AM.Api">
 
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
 
  <targets>
    <!--use to change target ../../ this like cd cmd-->
    <target name="logfile" xsi:type="File"
            fileName="../logs/${shortdate}_AmLogs.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>
 
  <rules>
    <logger name="*" minlevel="debug" writeTo="logfile" />
    <!--<logger name="*" minlevel="Info" writeTo="logfile" />-->
  </rules>
</nlog>